.cart{
    margin-top: 100px;

}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: black;
}

.cart-items-item img{
    width: 50px;
}

.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    padding: 12px 0px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    width: max(15vw, 200px);
    border-radius: 4px;
}

.cart-promocode{
    flex: 1;
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input{
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 10px;
    height: 40px;
}

.cart-promocode-input button{
    width: max(10vw, 15px);
    padding: 12px 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


@media (max-width: 768px){
    .cart-items-title{
        display: none;
    }
    .cart-items-item{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 10px;
        align-items: center;
    }
    .cart-items-item .item-price,
    .cart-items-item .item-quantity{
        justify-self: end;
    }
    .cart-items-item .item-remove{
        grid-column: span 4;
        justify-self: end;
        margin-top: 10px;
    }
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-total, .cart-promocode{
        justify-content: start;
    }
    .cart-total button{
        width: 100%;
    }
    .cart-promocode-input button{
        width: auto;
        padding: 12px 20px;
    }
}