.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 20px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.login-popup-container button{
    padding: 10px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: -8px;
}

.login-popup p span{
    color: #ff5722;
    cursor: pointer;
    font-weight: 500;
}